<template lang="html">
  <div class="container" id="aboutus">
    <div class="cap">
      <h1>{{ this.main_cap.toUpperCase() }}</h1>
    </div>
    <div class="row myrow no-gutters text-center text-md-left" v-for="row in rows">
      <div class="col-md-3 imag">
          <img v-bind:src="row.pic" v-bind:alt="row.caption" class="img-fluid">
      </div>
      <div class="col-md-9 cont">
        <div class="cap2">
          <h2>{{ row.caption.toUpperCase() }}</h2>
        </div>
        <div class="text">
          <p>{{ row.string.toLowerCase() }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      main_cap: "Коротко о компании",
      rows: [
        {"pic": "src/assets/img/pics/about_01.png", "caption": "Мы любим интернет-технологии", "string": "и занимаемся тем, что по-настоящему нравится: запускаем проекты и шаг за шагом улучшаем их показатели."},
        {"pic": "src/assets/img/pics/about_02.png", "caption": "Наш ценный конечный продукт", "string": "это проект, который решает задачи клиента и его целевой аудитории, ориентированный на измеряемый результат."},
        {"pic": "src/assets/img/pics/about_03.png", "caption": "С 2011 года последовательно развиваемся и имеем большие планы на будущее", "string": "Делаем интернет – проекты и развиваем их. Делаем ставку на качество и долгосрочные отношения с клиентами."},
        {"pic": "src/assets/img/pics/about_04.png", "caption": "В основном строим проекты на 1С-Битрикс, Modx и Laravel", "string": "Много внимания уделяем быстродействию кода. Любим новые технологии, которые упрощают работу. Активно делимся знаниями и делаем друг-друга сильнее."}
      ]
    }
  }
}
</script>

<style lang="sass">
@import 'src/assets/sass/colors.sass'
.imag
  margin-bottom: 20px

.alltxt
  display: table

.cap
  margin-top: 72px
  margin-bottom: 38px

.cap2
  font-family: "Rubik Black"
  line-height: normal
  font-size: 24px
  color: $blue

.text

.myrow
  font-size: 18px
  line-height: 21px
  display: flex
  align-items: center
  margin-bottom: 58px

.cont
  padding-left: 80px

</style>
