<template lang="html">
  <div class="container-fluid" id="advantages">
    <div class="big-text cap">ПРЕИМУЩЕСТВА РАБОТЫ У НАС</div>

    <div class="row">
      <div class="col-2">

      </div>
      <div class="advs col-8 justify-content-around">
        <div class="adv" v-for="adv in advantages">
          <img v-bind:src="adv.pic" alt="adv.text">
          <div class="small-text">
            {{ adv.text.toUpperCase() }}
          </div>
        </div>
      </div>
      <div class="col-2">

      </div>
    </div>

  </div>
</template>

<script>
export default {
  data(){
    return {
      advantages: [
        {"pic": "/src/assets/img/pics/preim_01.png", "text": "Работа официально и по договору с первого дня"},
        {"pic": "/src/assets/img/pics/preim_02.png", "text": "Ежедневные выплаты"},
        {"pic": "/src/assets/img/pics/preim_03.png", "text": "Гибкий график"},
        {"pic": "/src/assets/img/pics/preim_04.png", "text": "Можем обеспечить работой от 1 до 8 часов в день, возможны и небольшие задачи раз в неделю"},
        {"pic": "/src/assets/img/pics/preim_05.png", "text": "Выдаем первый проект в работу в день обращения"},
        {"pic": "/src/assets/img/pics/preim_06.png", "text": "Интересные проекты"},

      ]
    }
  }
}
</script>

<style lang="sass">
#advantages .small-text
  font-weight: bold
.adv
  margin-bottom: 50px
  text-align: center

.advs
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  //grid-template-columns: 1fr 1fr 1fr
  grid-gap: 20px

.cap
  text-align: center
  margin-bottom: 60px

#advantages
  background-image: url("/src/assets/img/pics/vakas_back_desktop.jpg")
  background-size: auto
  position: relative
</style>
