<template lang="html">
  <div id="mainSlider" class="container-fliud">
    <transition name="appr" appear>
      <div class="row bg no-gutters pt-0 pt-lg-5">

        <div class="col-12 col-lg-5 ml-5 img d-none d-lg-flex">
          <img src="/src/assets/img/pics/bg1.svg" alt="" class="float-right">
        </div>
        <div class="col-12 col-lg-5 txt">
          <div class="big-text p-4">
            {{ bigText.toUpperCase() }}
          </div>
          <div class="small-text pl-4">
            {{ smallText.toLowerCase() }}
          </div>
          <div class="row btns mx-auto mt-5">
            <div class="butt col-12 col-md-5 pb-3 pb-md-0 justify-between">
              <a href="#" class="btn btn-outline-light w-100" name="free_vac">{{ btn1_text.toUpperCase() }}</a>
            </div>
            <div class="butt2 col-12 col-md-7 pb-3 pb-md-0 justify-between">
              <a href="#" class="btn btn-outline-light w-100" name="info">{{ btn2_text.toUpperCase() }}</a>
            </div>
          </div>
        </div>
        <div class="col-1">

        </div>

      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data(){
    return {
      btn1_text: "Свободные вакансии",
      btn2_text: "Информация о компании",
      bigText: "СТАНЬ ЧАСТЬЮ НАШЕЙ КОМАНДЫ ПРОФЕССИОНАЛОВ",
      smallText: "И ЗАЙМИСЬ ТЕМ, ЧТО ПО-НАСТОЯЩЕМУ НРАВИТСЯ"
    }
  }
}
</script>

<style lang="sass">
@import "../assets/sass/colors.sass"
.appr-enter
  opacity: 0
.appr-enter-active
  transition: opacity 2s

.btn
  border-width: 1px
  border-radius: 10px
  font-family: "Rubik Bold"
  font-size: 14px
  height: 46px
  width: 240px
  margin-right: 60px
  line-height: 46px
  padding: 0
  &:hover
    background: white
    color: $blue

.bg
  background: url('../assets/img/pics/bg2.svg')
  background-size: cover
  width: 100%

.col
  border: 1px solid red
  width: 100%

.img

.img img
  width: 100%
  padding-right: 20px
</style>
