<template lang="html">
  <div class="container-fluid" id="terms">
    <div class="big-text cap">УСЛОВИЯ И ГАРАНТИИ</div>

    <div class="row">
      <div class="col-2 d-none d-sm-flex">

      </div>
      <div class="trms col-12 col-sm-8 ">
        <div class="trm" v-for="term in terms">
          <img v-bind:src="term.pic" v-bind:alt="term.text">
          <div class="small-text">
            {{ term.text.toUpperCase() }}
          </div>
        </div>
      </div>
      <div class="col-2 d-none d-sm-flex">

      </div>
    </div>

  </div>
</template>

<script>
export default {
  data(){
    return {
      terms: [
        {"pic": "/src/assets/img/pics/uslov_01.png", "text": "Ежедневные выплаты"},
        {"pic": "/src/assets/img/pics/uslov_02.png", "text": "Работа официально и по договору с первого дня"},
        {"pic": "/src/assets/img/pics/uslov_03.png", "text": "Возможны авансовые платежи"},
        {"pic": "/src/assets/img/pics/uslov_04.png", "text": "Работа официальная и по договору"},
        {"pic": "/src/assets/img/pics/uslov_05.png", "text": "Гибкий график"},
        {"pic": "/src/assets/img/pics/uslov_06.png", "text": "Часовая ставка от 250 до 500 рублей в час в среднем"},

      ]
    }
  }
}
</script>

<style lang="sass">
@import 'src/assets/sass/colors.sass'
#terms .big-text
  color: $black
#terms .small-text
  font-weight: bold
  color: $blue
.trm
  margin-bottom: 50px
  text-align: center
  border: 0px solid $blue
.trms
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  //grid-template-columns: 1fr 1fr 1fr
  grid-gap: 20px
.cap
  text-align: center
  margin-bottom: 60px
#trms
  position: relative
</style>
