<template lang="html">
  <div id="vacancies">
    <div class="container-fluid">
      <div class="big-text cap">СВОБОДНЫЕ ВАКАНСИИ</div>
      <div class="row">
        <div class="vacs col-12">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label @click="show(index)" v-for="vac, index in vacancies" class="pt-2 pt-sm-3  btn btn-outline-light" v-bind:class="{active: vac.act}" >
              <input type="radio" name="options" v-bind:id="'option'+(index+1)" autocomplete="off"> {{ vac.name }}
            </label>
          </div>
        </div>
      </div>

            <transition name="vac" appear mode="out-in">
            <div class="v" v-for="vac, index in vacancies" v-if="vac.act" v-bind:key="index">
              <div class="row">
                <div class="col-2 d-none d-md-flex">

                </div>
                <div class="col-12 col-md-4 imag">
                  <img v-bind:src="vac.pic" v-bind:alt="vac.name">
                </div>
                <div class="col-12 col-md-4 skills">

                      <div class="big-text">{{ vac.name.toUpperCase() }}</div>
                      <p>{{ vac.desc }}</p>
                      <div class="big-text">ТРЕБОВАНИЯ</div>
                      <p>{{ vac.desc }}</p>
                      <ul>
                        <li v-for="skill in vac.skills">
                          <p>{{ skill }}</p>
                        </li>
                      </ul>


                </div>
                <div class="col-2 d-none d-md-flex">

                </div>

              </div>


            </div>
            </transition>


      </div>

      <div class="col-2">

      </div>
    </div>

  </div>
</div>
</template>

<script>
export default {
  data(){
    return {
      vacancies: [
        {"id":1, "name": "Разработчик-универсал", "pic": "/src/assets/img/pics/front.svg", "desc": "short description", "skills": ["first", "second", "third"], "act": false},
        {"id":2, "name": "Бэкенд-разработчик", "pic": "/src/assets/img/pics/front.svg", "desc": "short description", "skills": ["first", "second", "third"], "act": false},
        {"id":3, "name": "Фронтенд-разработчик", "pic": "/src/assets/img/pics/front.svg", "desc": "short description", "skills": ["first", "second", "third"], "act": true},
        //{"id":4, "name": "Землекоп", "pic": "/src/assets/img/pics/front.svg", "desc": "Копать чтобы", "skills": ["Умение копать совковой лопатой", "Умение копать штыковой лопатой", "Умение копать методом Буравчика"], "act": false},

      ]
    }
  },
  methods: {
    show(a){
      for(var i=0; i<this.vacancies.length; i++){
        this.vacancies[i].act = false;
        if(i == a) this.vacancies[i].act=true;
      }

    }
  }
}
</script>

<style lang="sass">
@import 'src/assets/sass/colors.sass'
.skills
  text-align: left
  color: white

.imag

.v
  padding-top: 50px
  text-align: center
.v img
  padding-right: 30px
  margin: auto
  width: 100%

.v .big-text
  padding: 0

.active
  color: $black!important

#vacancies .vacs img
  width: 150px

.vac-enter, .vac-leave-to
  opacity: 0

.vac-enter-active, .vac-leave-active
  transition: opacity .3s

.vacs .btn
  margin: 0
  white-space: pre-line
  line-height: 12px

.btn-group
  width: 100%
  justify-content: center

#vacancies .big-text
  font-size: 24px
  margin: 0

#vacancies .small-text
  font-weight: bold

.vacs
  text-align: center

.cap
  text-align: center
  margin-bottom: 60px

#vacancies
  background-image: url("/src/assets/img/pics/vakas_back_desktop.jpg")
  background-size: cover
  position: relative
</style>
